html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header {
	background-color: white;
	width: auto;
	height: 100px;
}

body {
	background-color: #6E9E0D;
	margin-top: 5%;
	margin-right: auto;
	margin-bottom: 5%;
	margin-left: auto;
}

footer {
	background-color: grey;
	text-align: center;
	padding-left: -100px
	margin-right: -10px;
	color: white;
	margin-top: -25px;
	margin-bottom: -10px;
	height: 50px;
	width: auto;
}


.facebook {
	width: 75px;
	height: 75px;
	margin-left: 35px;
}

.twitter{
	width: 75px;
	height: 75px;
}

.linkedin {
	width: 75px;
	height: 75px;
}

.about {
	background-color: white;
	float: left;
	width: 40%;
	height: 375px;
	margin-left: 10%;
}

.outlineBox {
	width: 300px;
	height: 200px;
	background-color: white;
	float: right;
	margin-right: 15%;
}

.name {
	background-color: #0099cc;
	color: white;
	text-align: center;
	float: left;
	margin-right: 80%
}

.navBar {
	float: right;
	font-weight: bold;
	color: #8C8C8C;
	background-color: white;
}

.aboutHead {
	padding-right:170px ;
	float: right;
}

.portfolioHead {
	padding-right: 165px;
	float: right;
}

.contactHead {
	padding-right:160px ;
	float: right;
}

.surrounding {
	background-color: #BFBFBF;
	width: auto;
	height: 400px;
}

.profilePic {
	width: 200px;
	height: 200px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}


.copyWrite {
	font-size: 10px;
}

.Connect {
	background-color: white;
}

.connectTitle {
	color: #0099cc;
	text-align: center;
	margin-bottom: 5px;
}

.aboutTitle {
	color: #0099cc;
}

.hangman {
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 75px;
	margin-bottom: 25px;
}

.rpg {
	width: 150px;
	height: 150px;
	float: right;
	margin-right: 75px;
	margin-bottom: 25px;
}

.trivia {
	width: 150px;
	height: 150px;
	float: left;
	margin-left: 75px;	
}

.rockpaperscissors {
	width: 150px;
	height: 150px;
	float: right;
	margin-right: 75px;
}

.imageBreak {
	height: 25px;
	background-color: white;
	color: black;
}